@using EmployeeManagementSystem.Models.OfficeViewModels
@model EmployeeManagementSystem.Models.EmployeeViewModels.CreateEmployeeRequest

@{
    ViewData["Title"] = "Add Employee";
}

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Position">Position</label>
        <input asp-for="Position" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="OfficeId">Office</label>
        <select asp-for="OfficeId" class="form-control">
            @foreach (var office in ViewBag.Offices as List<OfficeViewModel>)
            {
                <option value="@office.Id">@office.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="RoleId">Role</label>
        <select asp-for="RoleId" class="form-control">
            @foreach (var role in ViewBag.Roles as List<RoleViewModel>)
            {
                <option value="@role.Id">@role.Title</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>